<%= form_with(model: @micropost) do |f| %>
  <h2><%= yield(:title_text)%></h2>
  <%= f.text_area :content ,placeholder: "今何してる？"%>
  <div class = "center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>