<%= link_to "New Post", new_micropost_path, class: "btn btn-lg btn-primary" %>

<div class ="post-container">
  <% @microposts.each do |post| %>
    <div class = "post-row">
        <div class = "post">
          <%= render "microposts/show-micropost", post:post %>
        </div>
    </div>
  <% end %>
</div>
