<% provide(:title, 'New Post') %>
<% provide(:button_text, 'Create New Post') %>
<% provide(:title_text,'今何してる？')%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'microposts/make-micropost' %>
  </div>
</div>
