<% provide(:title, @micropost.content) %>
<div class ="post-container">
  <div class = "post-row">
      <div class = "post">
        <%= render "microposts/show-micropost", post:@micropost %>
      </div>
  </div>
</div>

<div class = "edit-delete">
  <%= link_to "編集", edit_micropost_path(@micropost) %>
  <%= link_to "削除", @micropost, class:"delete-button",
                                  data: { "turbo-method": :delete,
                                  turbo_confirm: "このポストを削除しますか？" } %>
</div>