@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.posts-container {
  display: flex;
  flex-direction: column; 
}

.post-row {
  display: flex;
  justify-content: center; /* 中央揃え */
  flex-wrap: wrap; /* 折り返しを有効化 */
}

.post {
  border:2px solid #c0c0c0;
  border-radius: 10px;
  margin-top:10px;
  padding: 10px 10px 10px 20px;
  width: 100%;
}

.edit-delete {
  margin-top: 10px; 
  margin-left:20px;     
  text-align: left; /*左寄せ*/      
  a {
    margin-left: 10px; /* リンクの間にスペース */
  }
}

.delete-button{
  color:red;
  &:hover{
    color:red;
  }
}

.time{
  color:gray;
}

.same-line{
  display:flex;
  justify-content: space-between;
}

/* header */

#logo {
  float: left;
  font-size: 1.8em;
  color: #e9ecf5;
  padding-top: 7px;
  font-weight: bold;
  text-transform: capitalize;
  border:#777;
  &:hover {
    color: #c0c0c0;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* forms */

input {
  display: block;
  margin: 0 auto; /* 横方向の中央揃え */
  width: 35%;
  padding: 10px 20px;
}

textarea{
  resize: none;
  border-radius: 5px;
  width: 100%;
  height: 90px;
}
